<div class="container">
  <div class="jumbotron page-title">
    <h3>About Page</h3>
  </div>
</div>

<div class="container">
  <p class="lead">DevMatch is a fictional subscription based site to connect entrepreneurs and developers seeking work.</p>
</div>