/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 
* {
  // set default text colour to white 
  color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  // set default navbar text colour to white 
  color: white;
  font-weight: 800;
  &:hover {
    // set navbar items to lower opacity on hover.
    color: white;
    opacity: 0.75;
  }
}
 
//typography styles 
h1, h2, h3, .navbar-brand {
  font-family: 'Open Sans', sans-serif;
}

//background gradients  
body, .navbar {
  // gradient from uigradients.com
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
}

//jumbotrons
.page-title {
  width: fit-content;
  padding: 20px;
  background: #141E30;
}

.well {
  background-color: #222;
  border: 1px solid #333;
}

.form-control {
  background-color: #111;
  border: 1px solid #333;
  color: white;
}

textarea { 
  resize: vertical; }

.btn-default {
    color: #fff;
    background-color: #333;
    border-color: #444;
    &:hover {
      color: #fff;
    background-color: #444;
    border-color: #555;
    }
}